# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints

# Data & models
data/
*.pt

# Environment
.venv/
.env

# OS junk
.DS_Store
Thumbs.db

# Excluded source directories
src/covariance_data_analysis/
src/gdec_training/
src/xCEBRA_past_script/